/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db
composer.lock
package-lock.json
yarn.lock
/.vagrant
/.docker
docker-compose.override.yml
/.github
/coverage
/.php-cs-fixer.cache
/.styleci.yml
/.prettierrc
/.eslintrc
*.log
*.sqlite
*.sqlite-journal
